#adminContainer{
	display: table;	
	border: 2px solid black;
}

label{
	font-size: 15px;
}

h2{
	display:block;
}

input{
	margin-top:5px; 
	margin-bottom:5px;
	margin-left:2px;
	margin-right:2px;
}

th, td{
	text-align:center; 
	border-style:solid; 
	border-width:2px;
}

#newProductButton{
	float: left;
}

#orderButton{
	float: right;
}