body{
	height: 100%;
	margin: 0;
	padding: 0;	
}


#price{
	position: relative;
	transform: translateY(250%);	
	}

.add-to-cart{
	position: relative;
	transform: translateY(175%);	
}
.well{
	border-radius: 15px 50px;
	border: 2px solid #73AD21;
}

div #item, div #reviews{
	min-width:800px;
	width: 100% !important;
	width: 800px;
}

div #numberOfStars{
	float: left;
	width: 90%;
	overflow: hidden;
}

div #reviewAverage{
	float: right;
	width: 10%;
	overflow: hidden;
}

div #reviews{
	position: relative;	
}

html{
	min-height:100%;
	position: relative;
}

img{
	width: 200px;
	height: 200px;
}

#description{
	float: left;
}

#item-image, #item-price{
	position: relative;
	font-size: 20px;
}

#item-id, #item-desc{
	position: relative;
	font-size: 20px;
}

#addToCart{
	float: right;
	overflow: hidden;
	width: 25%;
	height: 200px;
	padding: 10px;
}

#sub-container{
	position: relative; 
	font-size:20px;
}

.caption-full {
	float:left; 
	width:75%; 
	overflow:hidden;
}

.about-this-item{
	position: relative;
}