body {
  padding-top: 60px;
}

.item-line {
  border-style: solid none none none;
  border-width: 2px;
}

.item-line:nth-child(odd) {
    background-color: #a8a8a8
}

#empty-cart-msg {
  text-align: center;
}