body{
	
}

containter{
	display: table;
}

img{
	float: left;
	width: 150px;
	height: 150px;
	overflow: hidden;
}

#shopListContainer{
	border-radius: 15px 50px;
	border: 2px solid #73AD21;
	padding-bottom: 15px;
}

 #addToCartButton{
	position: absolute;
	right: 20px;
	bottom: 0;
}

#firstCol, #secondCol, #thirdCol{
	float: none;
	padding: 20px;
	vertical-align: top;
	display: table-cell;
} 

#firstCol, #thirdCol{
	text-align: center;
}

#secondCol{
	padding-top: 5%;
	text-align: left;
}

#thirdCol{
	padding-right: 5%;
}